html
  head
    title= title
    style
      include ../public/style.css
  body
    h1= message
    each val in colors
      a(href="https://gentle-waters-92957.herokuapp.com/colors/" + val.color_id)
        div(style="display:inline-block;box-shadow: 1px 1px 1px 1px; margin:15px;border-radius:10px;")
          div(style="background: #" + val.color_code + "; position:relative; display:inline-block; width:150px;height:150px; margin:10px;")
          p(style="margin:10px;")='#' + val.color_code
          //p(style="position: absolute; bottom:0; background:white; width: 100%; margin-top:0; padding-bottom:10px;")=val.color_code


include _paginate