html
  head
    title= title
  body
    h1= message
    .container
        a(href="http://localhost:5000/colors") See the colors
        p This page populated the database if necessary. Click the above link to see your colors!