html
  head
    title= title
    style
      include ../public/style.css
  body
    h1= message
    .container
        a(href="https://gentle-waters-92957.herokuapp.com/colors") See the colors
        p This page populated the database if necessary. Click the above link to see your colors!